<html>
<head>登录</head>
<body>
   <br>
   <ul th:if="${errorCode}">
       错误代码：  <span th:text="${errorCode}"></span><br>
       错误信息：  <span th:text="${errorMessage}"></span><br>
   </ul>

        <table>
            <tr>
                <th>ID</th>
                <th>用户名称</th>
                <th>密码</th>
            </tr>
            <tr th:each="prod : ${items}" th:class="${prodStat.odd}? 'odd'">
                <td th:text="${prod.id}">Onions</td>
                <td th:text="${prod.userName}">2.41</td>
                <td th:text="${prod.password}">yes</td>
                <td>
                    <input type="button" value="修改" th:onclick="toEdit([[${prod.id}]]);">
                    <input type="button" value="删除" th:onclick="toDelete([[${prod.id}]]);">
                    <input type="button" value="复制" th:onclick="copy([[${prod.id}]]);">
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="button" value="新增" onclick="toAdd()"></td>
            </tr>

        </table>
   <script language="javascript" type="text/javascript">
    function  toAdd(){
        window.location.href="toAdd";

    }
    function  toEdit(id){
        window.location.href="toEdit?id="+id;
    }
    function  toDelete(id){
        window.location.href="del?id="+id;
    }

    function  copy(id){
        window.location.href="copy?id="+id;
    }

</script>

</body>


</html>